bin/
obj/
.vs/
*.user
.venv/
__pycache__/
*.pyc
/work/
/out/
/samples/*.wav
/samples/*.mp3
/samples/*.ogg
/samples/*.flac
*.egg
data/
/samples/*.json
src/Abeat.Web/wwwroot/
node_modules/
src/Abeat.Web/arcviewer/

docker-data/
docker-compose.override.yml
